.user {
    border: 2px solid gray;
    display: flex;
    flex-direction: column;
    height: 400px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.userbox {
   
    border: 2px solid gray;
    flex-direction: row;
    width: 100%;
    height: 400px;

    justify-content:flex-start;
    align-self: center;
    background-color: bisque;


}