.user {
    display: flex;
    flex-direction: column;
    height: 400px;

    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: -1px;
}
.userbox {
   
    flex-direction: row;
    height: 400px;

    justify-content:flex-start;
    align-self: center;
    background-color: salmon;
}


@media only screen and (min-width: 1024px) {
    .header-container {
        display: flex;
        justify-content: space-between;      
        
    }
    .container {
        flex: 1;

    }
    .nav {
        background-color: #4056A1;
    }

    .userbox {
        align-self: initial;
        height: 400px;
        margin: 200px;

    }
    
}

