
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}


.nav {
    display : flex;
    justify-content: space-between;
    align-items: baseline;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 120px;
    padding: 1.5em;
    opacity: 100%;
    color: skyblue;
    background-color: salmon;
}

.logo{
    display: flex;
    font-size: 42px;
    justify-content: flex-end;
    outline: black;
}

.createNewTweet {
  
    display: flex;
    align-items: flex-start;
    font-family: Source-sans-pro;
    margin-right: 45px;
}

#write-tag {
  font-weight: bolder;
}





