.new-tweet{
    display: block;
    justify-content: center;
    flex-direction: column;
    width: 100%;

}


/* 
.newTweetFormArea {
    border: 2px solid red;
    display: block;
    width: 100%;
} */


.newTweetForm {
    display: flex;
    flex-direction: row ;
    width: 100%;
    
}

#tweet-text{
    width: 100%;
    border: 0;
    border-bottom: 5px solid rgb(34, 6, 6);
    background-color: rgb(239, 240, 236);
    border: 1px solid #ccc;

    border: transparent; 

}
.tweetTextArea{
    flex-direction: row;
    border: 2px solid gray;
    display: block;
    width: 100%;
}

.avatar {
  max-width: 80px;
  max-height: 80px;
  margin-right: 0.5em;
}

.userName {
    justify-content: flex-start;
    width: 80%;
}
.likesRetweet{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.handle {
    
}

.handle.hover {
    filter: brightness(100%);

}

#tweet-list {
    margin-top: 2em;
    width: 100%; 
}

ul { 
    list-style-type: none; 
    display: flex;
}

.tweet-header {
    display: flex;
    justify-content: space-between;
}

.off-limit-text {
    color: red;
    font-family: Bungee;
}

.tweet-header > div{
    display: flex;
    margin: 1.5em;
}

.tweet {
    transition: box-shadow .3s;
    border: 4px solid black;
    padding: 1em;
    width: 100%;
    border: 1px groove rgb(41, 39, 39);
    opacity: 60%;
    background: #fff;

    margin-bottom: 35px;
    border-radius: 10px;
    float: left;
}
.tweet.hover {
    box-shadow: 12px 12px 2px 1px rgba(33,33,33,.2); 


}
.tweet-footer {
    display: flex;
    border-top: black solid 4px;
    justify-content: space-between;
    padding-top: 0.5em;
}

